[2014-03-24 03:48] taylorhakes opened #3 "Promise.resolve does not behave according to newest spec"
In the newest version of the Promise spec. Promise.cast was removed and Promise.resolve has new behavior. https://github.com/domenic/promises-unwrapping/commit/e56b48a4815b9fff5860ab031a5a55e3d779204b . Promise.resolve will be changed once Chrome updates it's implementation

[2014-06-29 03:56] #3 closed, assigned to nobody

[2014-09-14 18:09] chemerisuk opened #4 "Issue with browserify"
Trying to use your library in my project and faced with issue below in browserify.

[code]

The cause is that after compilation step browserify wraps every source file into:

[code]

In other words it forces to use strict mode where `this` is `undefined`. To solve the issue I just used

[code]

Not sure if it's the best fix but it works.

[2014-09-15 14:37] #4 closed, assigned to nobody

[2014-09-15 17:44] chemerisuk opened #5 "Where is unit test?"
Just curious ;)

[2014-09-15 18:34] #5 closed, assigned to nobody

[2015-03-30 12:52] sabapk opened #8 "global is not defined"
I want to use it for browser. This is my worker code.

var promise;
 if(typeof Promise === undefined) {
      self.importScripts('Promise.js').Promise;
 }

promise = new Promise(function (resolve, reject) {
    var url = ajaxArgs.url || '',
          data = ajaxArgs.data || {},
          type = ajaxArgs.method || 'GET',
          isGet = type === 'GET',
          request = new XMLHttpRequest();

[2015-03-30 21:22] taylorhakes commented on #8
Are you using in a browser without a window object? If you look at the code, it

[2015-03-30 22:27] taylorhakes commented on #8
I have fixed the issue in this commit. https://github.com/taylorhakes/promise-polyfill/commit/049ec5cb21e6a43b66cff27c331570e5f07c9cea  Let me know if you are still seeing the issue.

[2015-03-31 03:19] #8 closed

[2015-03-31 05:08] sabapk commented on #8
I am using web workers, which do not have access to window object. So I am not able to use the Promise. To solve this issue, I used your polyfill promise by importing the script.

[2015-03-31 05:11] sabapk commented on #8
Can you help me on how I use this Promise in my web workers because now I am getting Promise as undefined.

[2015-04-01 02:14] taylorhakes commented on #8
The library didn't originally support Webworkers. I just added support with a new release. The previous logic was a little complicated.

[code]

You should be able to use it how you wanted to originally now. Download version 2.0.2
[code]

[2015-05-11 15:50] vinnymac opened #9 "Browser Compatibility"
It is unclear to me what browsers this polyfill supports. [Caniuse shows IE9/10/11 and Safari 7](http://caniuse.com/#feat=promises) not supporting native promises. Does this poyfill support those browsers?

The minimum supported browser should be documented in the readme.

Thanks

[2015-05-13 12:01] taylorhakes commented on #9
I added a minimum browser support to the Readme https://github.com/taylorhakes/promise-polyfill/commit/21e1deb7c23990b862e2a1f546deb04a4ece856b . It should work in every major browser and all versions. If you see any issues please let me know.

[2015-05-13 12:01] #9 closed

[2015-06-22 16:35] mockdeep opened #11 "Different behavior between Chrome/Firefox implementation and polyfill"
I'm having a hard time nailing it down, but my code works in both the latest Firefox and Chrome, and when I run the tests in Selenium, but when I require the polyfill for Poltergeist/Phantomjs, I get different behavior. It appears that my callback isn't being called when I nest promises. Pardon the messy code, it's in transition:

[code]

and inside my component:

[code]

It works as expected in `

[2015-06-23 00:02] taylorhakes commented on #11
This might be an issue with the way you are polyfilling, but I can't be sure. Can you make sure there isn't another error? Try putting an error handler on your getAll() call. The error should tell you what is going on.

[2015-06-23 00:19] mockdeep commented on #11
Right now I'm polyfilling like:

[code]

It works fine in other situations. I just tried adding error handlers both to `loadTasks` and as a second argument to `TaskStore.getAll()` and saw nothing from either of them. If I log out in `loadTasks` and in the `success:` callback from `request` it shows up for both, but not in `updateTimeframes` after that. I may just sidestep the issue by getting rid

[2015-06-23 00:33] taylorhakes commented on #11
I haven't seen an issue like this before. I and others are using the library the exact same way in production. Not saying there isn't an issue, but most likely it is something in your model code. Is the code in a public repo? I'll take a look. If not, it would be really helpful if you can reproduce the issue in jsfiddle.

Since you are only seeing the issue when polyfilling, maybe some code execut

[2015-06-23 00:38] mockdeep commented on #11
It's a private rails app, but I can add you as a contributor if you want to poke around. There isn't an existing reference, since when I remove the polyfill it throws an error saying `Promise is not defined` or the like, which is what prompted me to add it in the first place. I'm not too sure how to go about breaking it down into a more useful repro, but I'll take another look at it tomorrow morni

[2015-06-23 00:38] taylorhakes commented on #11
Another thought. Could you try testing another library? Try using bluebird or another Promise library. Do you still see the issue?

[2015-06-23 00:40] mockdeep commented on #11
Sure, I'll give that a shot.

[2015-06-23 00:47] mockdeep commented on #11
Hmm, fails the same way with bluebird, too. It also fails Selenium if I override the browser implementation with the polyfill, though I haven't been able to reproduce the issue manually in the browser.

[2015-06-23 00:59] taylorhakes commented on #11
I am not too familiar with debugging PhantomJS. I know there are some ways to open the Chrome debugger and see what is going on. http://phantomjs.org/troubleshooting.html . The other option is to throw some `console.log` statements in your code. Let me know what you find.

Promises are pretty basic at their core. It keeps an array of callbacks and then calls each callback in the array asynchronous

[2015-06-23 15:33] mockdeep commented on #11
Okay, I think I know what's wrong. I'm using `sinon.useFakeTimers()` in my tests which [stubs out `setTimeout`](http://sinonjs.org/docs/#clock-api). `handle` gets called, but the scheduled function in `asap` never does. I'm guessing the native implementation doesn't make use of `setTimeout`, which is why it works with Selenium. And the fact that I can't reproduce the error in dev is because I'm no

[2015-06-23 15:33] #11 closed

[2015-06-24 13:52] alex3683 opened #12 "Shimming setImmediate via Promise.immediateFn won't work in non-CommonJS environments"
The following expression would use `immediateFn`, if it was defined previously on a global `Promise` object:
[code]
Thus to achieve this I'd have to do something like this in advance:
[code]

But if I do this, the shim will never be installed because of this line at the end of the script:
[code]
I already defined `Promise` myself, so it won't be shimmed. Worse: If `Promise` was defined before by t

[2015-06-25 03:51] taylorhakes commented on #12
Thanks for reporting the bug. `

`Promise.immediateFn` was not usable in it's current state. It could never use the global Promise either because it was looking at the Polyfill Promise https://github.com/taylorhakes/promise-polyfill/blob/master/Promise.js#L16 because of function hoisting. Defining Promise.immediateFn doesn't work because `asap` is already bound.

I added a new API `Promise._setImm

[2015-06-25 05:55] alex3683 commented on #12
Thanks for that fast fix. I can confirm, it works :+1:

[2015-06-25 11:51] taylorhakes commented on #12
Great! Closing this issue.

[2015-06-25 11:51] #12 closed

[2015-06-25 21:21] mockdeep commented on #11
I've gone with a different approach which allows me to go without `sinon.useFakeTimers()`, but I just came across this issue on Bluebird that seems like it deals with this use case. Not sure if it's something that promise-polyfill should address as well: https://github.com/petkaantonov/bluebird/issues/631

[2015-07-06 07:37] DarkPark opened #13 "prototype methods"
Is there a reason why some of your methods in prototype and some not?

[2015-07-06 16:47] taylorhakes commented on #13
Yes, prototype methods are visible to the outside world, essentially public. It is common pattern to put private methods on prototype, but prefix with an underscore. i.e. `Promise.prototype._privateFunc`.

 Since this library is a polyfill, I tried to make it as close to the built-in `Promise` as possible. The built-in `Promise` doesn't expose any underscore methods.

You can make true private met

[2015-07-07 20:48] DarkPark commented on #13
thank you for detailed explanation
I haven't check the native Prototype global object to see the same public methods
so now it's clear

[2015-07-07 20:48] #13 closed

[2015-08-25 21:15] edwinm opened #14 "ES6 Promise compatible"
The documentation status the lib is A+ Compliant, but is says nowhere it's compatible with ES6 Promise. Is it intended to be compatible? Is it 100% compatible? Is that tested? Please improve your documentation.

[2016-01-07 03:33] taylorhakes commented on #14
I have updated the documentation with ES6 info. https://github.com/taylorhakes/promise-polyfill/commit/d24eccd6f7a02c517ba7582718b602db4ba53a32

[2016-01-07 03:33] #14 closed

[2016-03-05 04:53] keven425 opened #18 "resolve() with a promise as argument has issue"
Hi, I'm trying to use this library on IE11. resolve with a promise as argument doesn't pass in argument in the .then() function. Is this a bug?

[code]

[2016-03-05 22:41] taylorhakes commented on #18
@keven425 I am unable to reproduce your issue in IE11.

I created a JSBin with your code above. http://jsbin.com/fovebecuqi/edit?html,js,console,output
`result` is logged in my console. Are you seeing something different?

[2016-03-10 01:39] taylorhakes commented on #18
I am going to close this issue for now. Please respond if you feel there is still an issue.

[2016-03-10 01:39] #18 closed

[2016-03-10 03:57] keven425 commented on #18
@taylorhakes thank you for the reply. Yes, I tried your jsbin in IE11, and it's working as intended. Thank you for verifying.

What confused me was that IE 11 debugger was not displaying request data reliably. Sorry for my late reply.

[2016-03-19 10:11] mitar opened #19 "Unable to register a global handler for all unhandled rejected promises"
One good thing for debugging is that all unhandled rejections are printer to the console in current browsers. But for this polyfill it seems this is not happening/there is no way to register a global handler which should be called if nothing handles a rejection?

[2016-03-19 16:32] taylorhakes commented on #19
@mitar Thanks for the suggestion. I just released 4.0.1 with this ability. Please let me know if this fixes your issue.

https://github.com/taylorhakes/promise-polyfill/releases/tag/4.0.1

[2016-03-21 12:08] rainydio opened #20 "package.json main field and file name do not match"
package.json main field is `"main": "Promise.js"`, but actual file name is lowecased `promise.js`. This breaks node and browserify. Changing package.json to `"main": "promise.js"` fixes the problem.

[2016-03-21 15:43] taylorhakes commented on #20
OK. I will push out a new version tonight. I apologize for that. Unfortunately my Mac is case insensitive, so I don't see an error on my machine.

If you need a fix now, install version 3.1.0

[2016-03-21 16:37] rainydio commented on #20
No problem, thanks

[2016-03-22 01:26] taylorhakes commented on #20
This has been fixed in 4.0.2 https://github.com/taylorhakes/promise-polyfill/commit/28cf93d644b2ad98d9fc0317162553d96930e34c. Thanks for reporting the issue.

[2016-03-22 01:26] #20 closed

[2016-03-23 18:39] #19 closed

[2016-03-24 19:04] polikin opened #22 "SCRIPT438: Object doesn't support property or method '_setImmedateFn'"
I get this error in IE10

`SCRIPT438: Object doesn't support property or method '_setImmedateFn' `

code: (Browserify)
[code]

[2016-03-25 03:30] taylorhakes commented on #22
Are you using Babel? Can you post the code after it goes through Browserify? Don't need the whole file, just the part that wraps this code. It may be transformed incorrectly.

[2016-03-25 03:34] taylorhakes commented on #22
Ok, figured it out. There is a typo in the readme. The function name is `_setImmediateFn`, not `_setImmedateFn`. I apologize for this error. I will push out a fix right now

[2016-03-26 15:03] #22 closed

[2016-03-29 12:41] polikin commented on #22
Thanks!

[2016-04-19 18:55] benderTheCrime opened #24 "Subclassing"
Hey Taylor, long time no see.

What are your thoughts on changing the reference to the Promise constructor in the "then" method instead to `this.constructor`?

This makes it vastly easier to subclass this implementation of Promises because the `Handler` and `handler` functions are enclosed in the closure surrounding the `promise.js` module.

Here's what I did:
[code]
That way, when used in practic

[2016-04-20 02:15] taylorhakes commented on #24
Hey Joe! That is a great idea. I think we should create a safe then function along the lines of  [`this`](https://github.com/then/promise/blob/master/src/core.js#L73). If you create a pull request, I will definitely accept it. Please add tests as well.

[2016-04-20 16:50] benderTheCrime commented on #24
Will do later today, thanks!

[2016-04-22 15:24] ngentile opened #25 "console is undefined"
Hi @taylorhakes, I think it would be good if we can evaluate if console is defined before fire the console.warm in order to avoid  'console is undefined' in browser like IE8. Yes is OLD! but in same cases we need to give support.

<pre>
  var onUnhandledRejection = function onUnhandledRejection(err) {
    console.warn('Possible Unhandled Promise Rejection:', err); // eslint-disable-line no-console

[2016-04-22 15:47] taylorhakes commented on #25
That is a great idea. Do you want to submit a pull request? Otherwise I can do it later today.

[2016-04-23 12:15] taylorhakes commented on #25
I just submitted a fix. https://github.com/taylorhakes/promise-polyfill/commit/1e62013091d338ee4cd16227259b92367b4259bf . If you see any issue, please let me know.

[2016-04-28 04:06] #25 closed

[2016-05-08 06:23] mitar commented on #19
I have made a followup pull request: https://github.com/taylorhakes/promise-polyfill/pull/26

[2016-05-08 12:38] taylorhakes commented on #24
@benderTheCrime Have you had time to work on this? I think this would be a useful feature. If not, I can work on it.

[2016-05-08 13:06] benderTheCrime commented on #24
I'm sorry. I forgot about this altogether. If you have time to work on it that would be great. Otherwise, I can work on it during the week.

Sent from my iPhone

[2016-05-13 04:25] benderTheCrime commented on #24
Here is a first pass at this: https://github.com/taylorhakes/promise-polyfill/pull/27

I say first pass because I did not see the advantage of defining the `safeThen` once I got down to it. I don't know that all of the work that the `safeThen` method does is necessary to ensure that the Promise that is being resolved is actually a Promise and not an instance of the subclass. Any user subclassing t

[2016-05-14 02:11] taylorhakes commented on #24
This is completed in #27.

[2016-05-14 02:11] #24 closed

[2016-05-14 02:32] benderTheCrime commented on #24
Thanks!

[2016-05-16 06:43] mitar opened #28 "Use process.nextTick where available"
Promise spec defines that promises should schedule micro tasks. In node.js this is achieved by using `process.nextTick`. So I would suggest that `asap` function first tries `process.nextTick`, then `setImmediate` (ideally, you could try `MutationObserver` before that), and then `setTimeout`.

See the following for more information: http://stackoverflow.com/a/25933985/252025

BTW, why `setTimeout`

[2016-05-17 01:57] taylorhakes commented on #28
There has been some discussion on this in several other libraries and in Node.
https://github.com/petkaantonov/bluebird/issues/591
https://github.com/getify/native-promise-only/issues/53
https://github.com/nodejs/node-v0.x-archive/issues/7714
https://github.com/nodejs/node/issues/2736

promise-polyfill makes the decision to use setImmediate. The way to change it is documented in the [readme](https

[2016-05-17 04:17] mitar commented on #28
Hm, maybe it would be good at least to document this? That one might want to replace it on node.js with `nextTick`. Maybe in that section in readme?

[2016-05-17 04:44] taylorhakes commented on #28
Which part do you want me to document? I am a little confused. That it doesn't use process.nextTick?

[2016-05-17 12:58] mitar commented on #28
Some suggestions what one could use for `_setImmediateFn`. It is just a suggestion.

[2016-05-17 23:48] taylorhakes commented on #28
It didn't mean to sound opposed, sorry. I really appreciate suggestions.

I am worried that adding suggestions for `_setImmediateFn` will just add confusion for beginners/intermediate developers. My opinion is to use `setasap` or another setimmediate polyfill. People are free to use anything else, but I want to leave it up to advanced users.

[2016-05-18 00:45] mitar commented on #28
OK.

[2016-05-18 01:34] #28 closed

[2016-07-05 07:17] dactac opened #30 "Something I don't understand about your code"
I've been learning js and I'm a little confused with your _resolve_ function, why did you deal with Promise instance separately with thenable objects? By doing so,you added a new state of "3" to the Promise,which is not quite good in my opinion.
I've checked the previous version of this,and found that you didn't deal with it as you did now.So there must be a reason.Would you be kind and tell me wh

[2016-07-06 02:19] taylorhakes commented on #30
@dactac The reason for state `3` is because it's possible to have a memory leak in a really long Promise chain. Each promise keeps a reference to the previous Promise and it's never broken. State `3` allows the library to shortcut the long chain and resolve a Promise with the value of the next Promise. This only works if the Promise is from this library. Other Promise libraries (thenables) may not

[2016-07-06 16:13] dactac commented on #30
Can you be more specific? An example would be appreciated.
Cause from what I understand, given promise A,B,C and A is resolved by B,and B by C.
With previous code , C._deffereds gets to resolve B with it's value ,and thus keeps a reference to B,and the same with A and B.
But with current version, A._value points to B. and B._value points to C. Isn't that a chain?

[2016-07-25 08:33] martinoppitz opened #31 "IE11: SCRIPT65535: Ungültiges aufrufendes Objekt."
[code]

[2016-07-25 11:53] taylorhakes commented on #31
Thank you for the bug report. This has been fixed in version 6.0.1.

https://github.com/taylorhakes/promise-polyfill/commit/5ab398351e9c35a75b94144b191faf3c5bd6aff4

[2016-07-25 11:53] #31 closed

[2016-08-18 05:27] martinoppitz opened #32 "Is there a issue by promise-chaining?"
Hello,

I try to chain promises correct. But there is something magic.

[code]

[code]

[2016-08-20 00:59] taylorhakes commented on #32
@martinoppitz I am have a little trouble following your test. What is the expected behavior for each test?

[2016-08-20 03:37] martinoppitz commented on #32
If the *then* comes first, the test failed. Why?

[2016-08-20 03:51] taylorhakes commented on #32
Promise chains execute from top to bottom. Once a part of the chain is skipped, it doesn't go back. In your first example, the first `httpPromise` gets `rejected`, so the first `then` is skipped (because rejected is an error) and it goes to the first `catch` (after the `then`). Eventually the `catch` returns a resolved Promise, but the first`then` has already been skipped. It looks for another `th

[2016-08-21 03:26] martinoppitz commented on #32
Thanks for the explanation. I think I now understand it. :+1:

[2016-08-21 03:26] #32 closed

[2016-09-01 05:29] shortstories opened #34 "Minified code IE8 error"
ECMAScript 3 does not allow bare keywords in dot notation.
but promise.min.js has code like this

[code]

It causes an error on IE8. "Expected identifier"

[2016-09-01 08:53] shortstories commented on #34
+ in IE8, catch clause causes new kind of hoisting.
https://bocoup.com/weblog/the-catch-with-try-catch

When use minified code at IE8 (== `function handle`),
[code]

When _immediateFn function called, I receive error message like this
`unable to get property '_state' of undefined or null reference`

All catch argument name should be changed.

[2016-09-01 12:04] taylorhakes commented on #34
Thanks for bringing this to my attention. I didn't realize the minify was not supporting ie8. I have fixed it in 6.0.2. https://github.com/taylorhakes/promise-polyfill/commit/e20aa9031b0352d695fc0428cb8bc0145ffc5519

[2016-09-01 12:04] #34 closed

[2016-09-02 21:09] Diniden opened #37 "Polyfill Context"
It would be splendid if there were some other way to set the context the polyfill applies itself to.

(function(root) {
 ...
})(this);

does not give much flexibility for certain build systems.

For instance, I'd love to have this ability in my start up logic:

import polyfill from 'promise-polyfill';
polyfill(window);

So that the polyfill is applied to the window context should I decide to run t

[2016-09-02 21:14] taylorhakes commented on #37
You are able to do this if you are using `import` or `require`.

[code]

Does that work?

[2016-09-03 19:55] Diniden commented on #37
This does not work if the polyfill is externally bundled as its own bundle.

So the scenario for this build system: it takes in third party libraries and bundles them into standalone bundles.

Then modules requiring the third party libraries get them loaded in via AMD.

It's difficult to single out libraries for non bundling as that generates too many special cases in the procedure.

[2016-09-03 22:43] taylorhakes commented on #37
@Diniden I am confused how you want the library to work. You said you wanted to do this
[code]

I gave you that ability
[code]

You can even create the polyfill function
[code]

I feel like you want the library to do something that is not possible with Javascript. There is no way to magically return a module without attaching to `this`, using `module.exports` or using `define`. Do you just want `d

[2016-09-08 17:39] Diniden commented on #37
It seems I am a bit of a dummy. Yes:

[code]

Works for me :)

Me being a dummy though, I gave my question a lot of un-needed thought and came up with a solution I thought I needed:

[code]

But that being said....I don't really need that...You may close this and hide my shame now :) thanks for your time regarding this!

[2016-09-08 17:39] #37 closed

[2016-09-21 22:04] sanex3339 opened #38 "Strange additional import with webpack"
Hi, when i import this module in my project (with using `require('promise-polyfill')` or with `ProvidePlugin`), after Webpack bundling i getting one additional module in my bundle - `node-process` polyfill for browsers. Without `promise-polyfill` - `node-process` does not exist in resulting bundle.

You have any idea why i getting this additional module?

[code]

[2016-09-21 22:20] sanex3339 commented on #38
I disabled default webpack setimmediate polyfill with

[code]

[2016-09-21 22:20] #38 closed

[2016-09-22 12:47] yavuzmester opened #39 "console.log does not print in promise.then in browser"
Hello,
`Promise.resolve(5).then(x => console.log("val:" + x))`

The simple code above prints "val:5" in Chrome if we use the native Promise.
When I use the promise-polyfill it does not print!

I am using browserify, and the issue is not happening in node (it prints there)

Am i missing something simple, or what is it?

[2016-09-22 12:53] #39 closed

[2016-09-22 12:54] yavuzmester commented on #39
Sorry I was in debug mode, that was the reason.

[2016-09-27 12:00] rarkins opened #40 "Recommended deployment approach - override browser support or not?"
I see that the default behaviour of this polyfill is to override/replace the "native" browser Promise support. At least, that's how I understood the [Changelog message for 2.0](https://github.com/taylorhakes/promise-polyfill/blob/0f43cadfe480a6affe3a3100424ab4e524c03518/CHANGELOG.md#200):

So clearly "consistency" is an advantage of that - are there known disadvantages? e.g. would it be slower tha

[2016-09-28 11:48] taylorhakes commented on #40
@rarkins Before version 2.0, this library would return native Promise if it existed from `require`. The change made it so you could expect `promise-polyfill` to always be returned from `require` and not have to guess whether you got a native Promise or this library. There are no downsides to this change.

As for the code you showed, I think that is looks good. By default `promise-polyfill` will lo

[2016-09-28 11:50] rarkins commented on #40
Hi @taylorhakes, thanks for the response and confirmation.  By the way, this wasn't too easy to figure out - I think I only found it by searching the repo for `window.Promise` and finding the changelog. Anyway, I have no problem with your approach and will update my code.

[2016-09-28 11:50] #40 closed

[2016-10-11 08:44] qq524007127 opened #41 "how to use?"
How to use in the vue2.0?

[2016-10-19 13:50] mcacciat commented on #41
import Promise from 'promise-polyfill';
    window.Promise = window.Promise || Promise;

[2016-11-24 21:00] taylorhakes commented on #41
Thanks! I updated the readme with this info

[2016-11-24 21:00] #41 closed

[2016-11-30 03:08] toddpi314 commented on #38
Thanks for the resolve here. Rock on.

[2016-12-13 11:00] arsinawaz opened #42 "is there a way to use this with plain angular project?"
Hi, i want to use it in plain angular project which does not have bower or npm setup. Is it possible to include and use this poly-fill? i am new in the environment.

Any help is appreciated. Thanks

[2016-12-16 18:46] fastest963 commented on #34
@taylorhakes I'm still having the same error as @shortstories where even though --support-ie8 is now sent, I get:
[code]

[2017-01-07 17:11] englishextra opened #43 "How about publishing to CDNjs / jsDelivr"
They dont have this polyfill yet, and it appers that it really works nice and doesnt provide custom property name to global object, so you neednt rewrite your code, just leave it native.

[2017-01-25 23:35] crookedneighbor commented on #42
@arsinawaz There are direct downloads of the js files that you can vendor into your project https://github.com/taylorhakes/promise-polyfill#downloads

[2017-01-26 13:50] taylorhakes commented on #43
Thanks for the suggestion. I will look into this.

[2017-01-31 04:46] Aaronius commented on #43
You could use unpkg: https://unpkg.com/promise-polyfill@6.0.2/promise.min.js

[2017-01-31 05:39] englishextra commented on #43
@Aaronius I cant prove it right now but once I noticed instability of unpkg.com, perhaps its because its rather new. So cdnjs or jsdelivr is preferale in my case

[2017-02-01 05:03] taylorhakes commented on #42
Thanks @crookedneighbor . I am going to close this as the correct answer.

[2017-02-01 05:03] #42 closed

[2017-02-09 23:04] egauci opened #44 "use with import"
This:
[code]

Fails because imports are hoisted, and window.Promise will be undefined when whatwg-fetch gets imported.

Would you be interested in fixing this? I can submit a pull request.

[2017-02-14 05:18] taylorhakes commented on #44
There isn't a good solution for this in a single file. My suggestion is to create 2 files.

One with:
`./polyfill.js`
[code]
Then you can do
[code]

[2017-02-14 05:18] taylorhakes commented on #43
If someone wants to create a pull request for this, I will review it. I don't have time to work on this right now.

[2017-02-14 05:23] taylorhakes commented on #30
deferreds are cleared, correct.

You are correct that `current version, A._value points to B. and B._value points to C`. The state 3 allows A._value point to C and remove the intermediate B that is not necessary to resolving A.

[2017-02-14 20:02] egauci commented on #44
Thanks. I ended up using a copy of promise-polyfill, modifying it so it worked like the 'whatwg-fetch' polyfill (in other words, with "import './promise-polyfill'".

You probably have a good reason to export the polyfill when it's used as a module, but that doesn't really fit my use case.

Thank you for your work on this. It's a really nice implementation for Promise. I'm using it to support IE 11

[2017-02-15 05:02] taylorhakes commented on #44
It was a tough decision. Originally this library polyfilled by default, but I found users who didn't want the global state changed by default. If I don't polyfill, users always have the option to import and do it themselves. If I do it by default, there isn't a good way to turn it off.

I think the best options is to provide both options. If I get some time, I will create a polyfill file as well.

[2017-02-15 05:02] #44 closed

[2017-02-15 05:02] #30 closed

[2017-02-24 03:59] #43 closed

[2017-04-13 02:27] yangg opened #46 "Auto polyfill"
Hi, would like auto polyfill it, just like [github/fetch](https://github.com/github/fetch),
then we can only add an entry to webpack

[2017-04-13 02:51] NekR commented on #46
Or just write a bit of a wrapper if you really need that.

[2017-05-26 10:50] lopezdonaque opened #49 "Wrong version in bower.json"
Hi,
Could you update version 2.1.0 to 6.0.2 to match with package.json please?

[2017-05-28 09:58] OhadTs1985 opened #50 "Promise.all arguments is null or undefined"
Hi,

I've noticed that when running the following code on browsers that supports promises and browsers that doesn't support (with this the polyfill) i get a different result:

`Promise.all(null)
.then(function () {
console.log('then');
})
.catch(function (e) {
console.log('catch', e);
});`

**Supported browsers result:**
Calling the 'catch' statement with an error of 'TypeError'.

**Unsupported br

[2017-08-04 02:48] taylorhakes commented on #50
It should behave the same. Would you mind creating a pull request?

[2017-08-17 09:39] brauliobo opened #57 "Deploy to jsdelivr"
So that users can easily load it from a CDN ;)

[2017-08-17 11:28] MartinKolarik commented on #57
@jsdelivrbot npm promise-polyfill

[2017-09-06 15:58] bakadev commented on #49
This was causing an issue in my application which runs via an automated builder and when it hit the bower install it would die. So just a tip to anyone else who lands on this issue, if you add the following to your bower.json it will bypass the question on resolving correct version.

`  "resolutions": {
    "promise-polyfill": "6.0.2"
  }
`

[2017-09-14 06:35] kjagiello commented on #46
polyfills.js
[code]

Then add it to the `entry` in your webpack config. Mine looks like following:

[code]

[2017-09-18 12:35] taylorhakes commented on #57
Thanks

[2017-09-18 12:35] #57 closed

[2017-09-18 23:17] Andarist opened #58 "Rewrite to es6 modules"
@taylorhakes Would u accept a PR with such rewrite? In current form its treated by bundlers like webpack / rollup as cjs module - thus preventing certain optimizations.

[2017-11-14 14:58] nlhuykhang opened #60 "What is the purpose of _setImmediateFn?"
Hello,
First thank you for your great polyfill
Second I am trying to understand how this polyfill works by reading the code. I do not understand what [_setImmediateFn](https://github.com/taylorhakes/promise-polyfill/blob/master/promise.js#L214-L216) is for. I try executing callbacks without it and thing still works. Could you help me to understand it? Thanks

[2017-11-25 16:08] #50 closed

[2017-11-25 16:12] taylorhakes commented on #60
That function is deprecated, but the explanation for `_immediateFn` is in the readme.

https://github.com/taylorhakes/promise-polyfill#performance

[2017-11-25 16:17] taylorhakes commented on #58
I would accept a PR for ES6 modules only. I don't want to include polyfills for other ES6 functionality `Array.prototype.includes` etc.

[2017-11-25 16:19] taylorhakes commented on #49
Please submit a PR and I will update it.

You should probably migrate away from bower soon. https://github.com/bower/bower/issues/2298

[2017-11-25 16:20] #46 closed

[2017-11-25 18:18] Andarist commented on #58
Cool, I will cook something up.

[2017-11-25 19:33] taylorhakes commented on #49
Updated to 6.1.0

[2017-11-25 19:33] #49 closed

[2017-11-25 19:34] #60 closed

[2017-11-26 08:51] nlhuykhang commented on #60
Thank you for replying, but what I want to know is why bother using `_immediateFn`. Why do you need to execute functions asynchronously? I tried removing it and the polyfill worked fine

[2017-11-26 15:35] taylorhakes commented on #60
Promises are always asynchronous.
[code]
In the above code I am not doing anything asynchronous, but `after promise` will log before `inside promise`. If you update the `_setImmediateFn` to be `setasap` or another `setImmediate` polyfill, you will notice a faster time between `after promise` and `inside promise`. Without `setasap` it will be 1-4 milliseconds. If you update it, it will always be <

[2017-11-26 15:40] #58 closed

[2017-12-05 08:02] gs-akhan opened #62 "Question : Does this only polyfil if Promise is undefined."
Hi,
The question is does this only polyfil global Promise if it does not exits. or would simply override native Promise too ?

[2017-12-05 14:12] RiZKiT commented on #62
I would expect that a polyfill checks that the original function already exists. This polyfill seems not to do that, you have to check it for your own, as you can see here: https://github.com/taylorhakes/promise-polyfill#simple-use

Maybe a project member can describe why this approach is better.

[2017-12-05 15:35] taylorhakes commented on #62
There are 2 approaches that this library could take. It could update the window (or global) by default or it could not. If it updates the window by default, users who don't want global pollution can't opt out. If it's not added to the window, users always have the option to opt in.

Recently I think the right answer is to provider both in different files. I will add a polyfill file in the next rel

[2017-12-06 09:52] RiZKiT commented on #62
The question is, why would someone want to have the promise polyfill, if its already natively supported? I prefer a native-check inside, like in many other polyfills out there, to keep the native functionality, when the script is executed anyway. Imho, this way there is no need for a second file.
Maybe I do not understand what's going on in the polyfill and stop arguing now. :-)

[2017-12-06 13:43] gs-akhan commented on #62
Correct @RiZKiT . I am scared if this overrides window.Promise . It should only patch it if it is undefined.

[2017-12-23 05:21] taylorhakes commented on #62
7.0.0 adds a polyfill file. If you would like an automatic polyfill, it is available now.

[2017-12-23 05:21] #62 closed

[2017-12-26 23:52] sisou opened #64 "Uncaught ReferenceError: module is not defined"
I'm getting `Uncaught ReferenceError: module is not defined` at `index.js:227` when loading as
`<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>`.

[2017-12-28 06:21] taylorhakes commented on #64
Please use the new URL. <script href="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>

[2017-12-28 06:21] #64 closed

[2018-01-02 19:53] lpender opened #65 "Unexpected Token"
Thanks for this!

When attempting to polyfill using:

[code]

I get:

[code]

I'm using `gulp`, `watchify`, `babel` :)

I'm wondering if there's a dependency version mismatch ?

[2018-01-16 12:03] tiagomapmarques opened #67 "Broken on any version of IE since v7.0.0"
I'm requiring your project (`v7.0.0`) on mine along with `whatwg-fetch` `v2.0.3` and I'm applying the polyfill myself with:
[code]

When I use my application on any IE browser, any `fetch` functions created will throw this error:
[code]

Have confirmed that the exact same code does work with `v6.0.2`.
(version of `whatwg-fetch` did not change).

[2018-01-24 23:21] dustinaevans commented on #67
Same here

[2018-01-25 03:56] taylorhakes commented on #65
This should be fixed in 7.0.1. Please let me know if it works

[2018-01-25 14:20] dustinaevans commented on #67
Resolved with 7.0.1

[2018-01-25 19:38] tiagomapmarques commented on #67
Confirmed it is resolved. Thanks for the quick fix @taylorhakes :)
Closing the issue.

[2018-01-25 19:38] #67 closed

[2018-01-29 09:22] laukstein opened #69 "Doesn't work on IE9 when accessing another domain"
Tested on v7.0.2 and v7.0.0. Works fine on IE10+, not in IE9.

Always returns `Possible Unhandled Promise Rejection: Error: Access is denied`, no outgoing network requests, nothing new in access.log.

![grabilla em2472](https://user-images.githubusercontent.com/183966/35502550-016fd1fc-04e6-11e8-851a-148f4716ab5b.png)

**Update:** It might be related to https://github.com/github/fetch that I use,

[2018-02-03 15:43] #65 closed

[2018-02-05 17:00] brendanarnold opened #73 "Unable to locate global object"
I have included the polyfill in a universal app which is served from node and in the browser. I used the following for import into a React component ...

    import 'promise-polyfill/src/polyfill';

and after webpack compile using babel I get the following error

    throw new Error('unable to locate global object');

Any ideas what could be the problem?

Cheers,
Brendan

[2018-02-06 13:52] taylorhakes commented on #73
Here is the code that is failing.

[code]

What environment is it failing in? Node JS has a `global` object and the browser has `window`. Is it being using in a webworker or something?

[2018-02-06 13:54] taylorhakes commented on #69
@laukstein I believe this is related to the fetch instance. Promise polyfill shouldn't have any issues based on domain. I am going to close this for now. Please reopen if you are able to reproduce a bug specifically in this library without `fetch`.

[2018-02-06 13:54] #69 closed

[2018-02-13 05:40] taylorhakes commented on #73
I am going to close this issue until I get more info. Please feel free to add more details.

[2018-02-13 05:40] #73 closed

[2018-02-13 16:51] Legends opened #74 "Question: Promise is undefined"
Webpack + Typescript

1. tsc
2. webpack
3. page loads with bundle.js

I am importing the polyfill like this at the top of my file in IE11
`import Promise from 'promise-polyfill'; `

When the page is fully loaded, I check if Promise exists:

![image](https://user-images.githubusercontent.com/966368/36162341-75f62fd8-10e6-11e8-855b-7a293a1ed3b1.png)

![image](https://user-images.githubusercontent.co

[2018-02-14 04:50] taylorhakes commented on #74
This library does not automatically attach to the window. If you would like that behavior use this code.

[code]

[2018-02-14 04:50] #74 closed

[2018-03-20 20:14] sambshapiro commented on #65
I'm having a similar issue with `gulp`.
[code]

[2018-03-20 20:21] sambshapiro opened #76 "Unexpected token: name (Promise)"
I'm having an issue with gulp.

Using this as a dependency for https://github.com/github/fetch. I already updated their package.json to include v7.0.1 of this project and that made no difference.

[code]

[2018-03-21 02:37] taylorhakes commented on #76
Can you try `7.1.0`?

[2018-03-21 22:35] edmorley opened #77 "NPM page GitHub link incorrect"
Hi!

The GitHub link on the [package's NPM page](https://www.npmjs.com/package/promise-polyfill) links to:
https://taylorhakes@github.com/taylorhakes/promise-polyfill.git

Rather than:
https://github.com/taylorhakes/promise-polyfill

The `taylorhakes@` causes Firefox to display a security warning.

This value comes from:
https://github.com/taylorhakes/promise-polyfill/blob/2939a7d7a8a324d7bb4eba32

[2018-03-26 12:41] taylorhakes commented on #76
Closing because of no response. Please add more details if 7.1.0 doesn't work.

[2018-03-26 12:41] #76 closed

[2018-03-26 12:48] taylorhakes commented on #77
Fixed in 7.1.1

[2018-03-26 12:48] #77 closed

[2018-04-03 17:41] edmorley commented on #77
Many thanks :-)

[2018-04-06 08:26] pbb72 opened #79 "Polyfill.js vs Promise.js"
The documentation doesn't make it clear what the difference between Promise.js and Polyfill.js is. The CDN example points to Polyfill.js, while the download link points to Promise.js.

Looking at earlier issues and the changelog, I conclude that one of these overwrites the native promise object (if present) and the other only polyfills it, but this is not clear in the documentation.

[2018-04-06 12:59] taylorhakes commented on #79
That is a great point. Thanks for bringing it up.

`promise.js` is meant for use with module systems where you don't want to affect the global object. It's actually a bug that it overrides the global Promise by default. `polyfill.js` is meant as a polyfill that will set the global object Promise if it's not already there.

[2018-04-06 20:20] mikhoul opened #80 "Question for converting Firefox addon to Chomium extension"
I'm migrating to Chromium from Firefox but I have some addons that use promise that I'd like to convert.

Those addons like this one use promise and so they return errors like this: https://i.imgur.com/H8UYYFY.png

What would be the most easy way (since I'm not really fluent with JS) to convert them, would it be by loading the  _polyfill.js_ script from the _manifest.json_ and adding something lik

[2018-04-07 00:44] ryanelian opened #81 "Patch Promise.prototype.finally if non-existent?"
[![image](https://user-images.githubusercontent.com/8892187/38449349-13c6a6f0-3a38-11e8-8758-7018d00ea2dd.png)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise)

Being a newer ES2018 feature, the `Promise.prototype.finally` is not available in many platforms (IE, Edge, Node, older version of Chrome and Firefox) yet according to MDN compatibility table...

H

[2018-04-07 03:37] taylorhakes commented on #81
I like the idea, but I would like to hear other people's opinions. Are there any major drawbacks to adding finally to native Promise? Will it be confusing in any way?

This library hasn't altered native promises in the past, but it may make sense in this case.

If this goes forward it will be a part of the next major release 8.0, since I consider this a breaking change for the polyfill.

[2018-04-07 19:44] taylorhakes commented on #80
Unfortunately `browser` is not a Promise javascript object. It is a Javascript object specific to Firefox, so this library can't be of any help.

Here are the docs on the firefox version
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/storage
and for Chrome
https://developer.chrome.com/apps/storage

You need to translate to the Chrome version.

[2018-04-07 19:44] #80 closed

[2018-04-20 03:07] watert commented on #81
Maybe another way is to replace the whole Promise object when the finally method is missing.

[2018-04-23 03:14] mutongwu opened #82 "Promise._immediateFn usage BUG"
when handle function call Promise._immediateFn ,the parameter function should be wrapped in IIFE.

[code]
// Solution:

[code]

[2018-04-25 04:42] taylorhakes commented on #82
Thanks for reporting this bug. There is a test suite attached to project. Would you be able to create a failing test or provider code that you are seeing the bug?

[2018-04-25 04:47] taylorhakes commented on #81
@watert  I would prefer not to do that because there are some performance benefits to using native Promises, but it does make the API consistent.

@ryanelian I think it makes sense to move forward with your proposal. Do you have time to create a PR with your proposed change?

[2018-04-29 14:57] taylorhakes commented on #82
I am closing this PR. Please respond with more info and I will reopen

[2018-04-29 14:57] #82 closed

[2018-05-02 21:56] taylor-cedar commented on #81
I will take a look at implementing it this week

[2018-05-05 19:47] taylorhakes commented on #81
Just merged to master for version 8. Will update with new version of NPM soon. https://github.com/taylorhakes/promise-polyfill/commit/f13a09f5c2ef8ac45255f9f54b97f7cd302c2a08

[2018-05-05 19:47] #81 closed

[2018-05-05 19:47] taylorhakes commented on #79
Updated docs and remove promise.js in version 8

[2018-05-05 19:47] #79 closed

[2018-05-11 17:09] darkylmnx opened #83 "_unhandledRejectionFn not available on native Promise"
I've been noticing a weird bug, **_unhandledRejectionFn** doesn't seem to fire.

My guess is : native Promise doesn't do anything with **_unhandledRejectionFn**, and because you do not override it when it exists and only pathc **finally**, this func does not fire.

A solution would be to patch/polyfill the whole Promise if the native Promise cannot handle _unhandledRejectionFn.

Or do you see anot

[2018-05-12 00:03] taylorhakes commented on #83
`_unhandledRejectionFn` is specific to `promise-polyfill` and not available on standard Promises as you mentioned. There is no way to add it to standard Promises. If you want use it always, you can just replace the global Promise with `promise-polyfill`. That will allow you to use it whether or not Promises exist in the environment.

[code]

[2018-05-12 00:14] darkylmnx commented on #83
that's what I did for the moment but as you patched the `.finally()` method on the native Promise, I thought there was a way to do so with `_unhandledRejectionFn `

I think you should mention this on the docs, mention that `_unhandledRejectionFn `only works if you replace the native Promise I mean

[2018-05-12 03:52] taylorhakes commented on #83
I updated the readme with a warning

[2018-05-12 03:52] #83 closed

[2018-06-20 13:42] smohadjer opened #86 "Module not found: Error: Can't resolve './finally'"
I have installed this polyfill (v8.0.0) using yarn and am importing it in my typescript file like this:

[code]

But when I run npm run webpack I get following error:
[code]

The module finally.js exists here:
`node_modules/promise-polyfill/src/finally.js`

Any idea what is wrong?

[2018-06-22 18:53] smohadjer opened #88 "Rename polyfill.js to promise-polyfill.js in src and dist folders"
IMO the polyfill.js is too generic a name, it's better to use promise-polyfill.js for scripts in src and dist folders to reduce the risk of namespace conflicts in projects with many dependencies. It's also less confusing as the name makes it then clear what is being polyfilled by the script.

[2018-06-26 09:20] olane opened #89 "package.json is on version 8.0.0 but bower.json is 7.1.0"
We're still using bower but can't download the latest version of this library from it, I think because the bower file is out of date.

Downloading "7.1.0" from bower actually seems to download version 7.1.2. Bower is also offering us "7.1.2" which does download the version it says it's downloading. Version 8.0.0 is not available.

We're planning to switch over to npm but in the meantime have resor

[2018-06-27 21:23] kyoukhana opened #91 "Internet Explorer 11 still not working getting Promise is undefined"
I am testing in IE 11 and getting errors in the console.

[code]

I am importing everything according to the documents like this

## index.js
[code]

## elements.js
[code]

So I am not sure what I am missing.

## Webpack
[code]

[2018-06-29 04:30] taylorhakes commented on #86
I am not sure what is wrong. I haven't seen that error before. Can you try importing in node js and see if it works?

[2018-06-29 04:32] taylorhakes commented on #88
Hi @smohadjer. I agree with you comment for the `dist` folder, but I think the source file should remain as polyfill.js because it is an uncompiled file, not meant to be dropped on a page.

[2018-06-29 04:51] taylorhakes commented on #91
I tested on IE11 with newest webpack and it seems to work. What version of webpack are you using?

[2018-07-04 04:01] taylorhakes commented on #86
Closing until new details are provided

[2018-07-04 04:01] #86 closed

[2018-07-04 04:01] taylorhakes commented on #89
Please feel free to submit a PR to update bower

[2018-07-04 04:02] taylorhakes commented on #91
Closing until more details are provided

[2018-07-04 04:02] #91 closed

[2018-07-13 14:09] mischah commented on #89
npm version is `8.0.0` but the latest tag is `7.1.2` 🤔

Compare: https://www.npmjs.com/package/promise-polyfill with https://github.com/taylorhakes/promise-polyfill/releases

[2018-08-13 17:47] tomciopp opened #92 "8.1.0 Changelog"
Version 8.1.0 has been released but there is no updated changelog.

For reference I like to include Github's compare view so that you can se all commits between versions.
https://github.com/taylorhakes/promise-polyfill/compare/8.0.0...8.1.0

[2018-08-15 20:18] trollkotze commented on #31
It seems the error has been reintroduced.
Using version promise-polyfill@7.10, I had the same error appearing in Internet Explorer 11 and Microsoft Edge 15.
Reverting to promise-polyfill@6.0.1 resolved the issue for me. You might want to look into this once more.

[2018-09-04 13:17] limonte opened #95 "Polyfill with build: error?"
I wonder how reliable is polyfill with this badge:

![image](https://user-images.githubusercontent.com/6059356/45033657-d4985400-b05d-11e8-934f-be9008bfcbdb.png)

Also, consider enabling the daily build in TravisCI: https://docs.travis-ci.com/user/cron-jobs/

If a software isn't tested on a daily basis, it's broken.

[2018-09-06 05:42] inf3rno commented on #95
It passes the tests in Travis. I am not sure why it writes build error.

[2018-09-06 05:54] inf3rno commented on #95
I checked again. The 8.1.0 and the master branches have an error. According to the logs they timeout by npm install. I think it is ok-ish to have a Travis error. If the dev machine does not have travis there is no way to test it. Hopefully this will be fixed in a later release.

[2018-09-06 06:03] inf3rno commented on #95
https://github.com/taylorhakes/promise-polyfill/commits/master?before=1cea042bfcefc04d8d379d0463d7def278ed907a+35
This appear to be common and if you check they don't appear to be Travis related errors. Some of the commits fix syntax error. Using a proper branching model would help to keep the master working. This is embarrassing I think. I'll check, maybe there is an alternative.

[2018-09-06 06:07] inf3rno commented on #95
There is another Promise polyfill: https://github.com/stefanpenner/es6-promise it was extracted from RSVP. I think we should use that instead.

[2018-09-06 06:12] limonte commented on #95
Yup, and much more popular. Thanks for the valuable feedback, @inf3rno! stefanpenner/es6-promise seems to be the right choise.

[2018-09-06 19:00] taylorhakes commented on #95
@inf3rno @limonte The build error is an issue with the Travis badge. If you click on the link you can see that the build passed. I will rerun travis tonight and hope that it is resolved.

Master has never been in a state of a failed build and no I didn't merge changes with syntax errors. Your link is all commits on master, which contains commits from other people's branches when they merged. I don

[2018-09-06 20:11] inf3rno commented on #95
![failing build](https://user-images.githubusercontent.com/408911/45182495-ad8a7f80-b221-11e8-8af2-ccc5286b3b5f.png)

...

[2018-09-06 21:16] taylorhakes commented on #95
@inf3rno I am not disputing your facts. I am saying you are not being polite. Myself, nor anyone else on this project gets paid. I try fix issues as they are raised. This issue was brought up 2 days ago and was completely an issue with Travis. No tests were failing. As I said, I am happy to fix the issue by rerunning Travis and am thankful that someone brought the issue to my attention.

[2018-09-06 21:16] #95 closed

[2018-09-06 21:51] #89 closed

[2018-09-07 05:31] limonte opened #96 "Consider enabling the daily build in TravisCI"
Thank you @taylorhakes for taking care of https://github.com/taylorhakes/promise-polyfill/issues/95

The conversation is locked there, so I will continue here. CI stands for **continuous** integration. In the unstable ecosystem of front-end dependencies, it's essential to build software on a daily basis.

If the build is green but happened a month ago, that does not guarantee that is will be succe

[2018-09-07 12:31] taylorhakes commented on #96
Hi limonte. Thanks for the suggestion. I gave it some thought and I agree that a build a month ago does not mean it is green today, but I think that would be very rare for this library. It would mean that a dependency changed (this library has no dependencies) or that the build environment changed. If the build environment changed, a failed build on a random day is most likely a case of a false po

[2018-09-07 13:40] limonte commented on #96
All your points are valid @taylorhakes

Except maybe the from my experience, TravisCI is quite reliable and produces false failures quite rarely.

What I'm concerned about is the CX (contributor experience). Here's the example: a build was green a month ago and in the meantime it became red, but you don't know about it as it was not triggered.

And then, external contributor sends a PR, a build fo

[2018-09-07 16:01] limonte commented on #96
Worksforme 👍 Thanks for clarifying the details, @taylorhakes!

[2018-09-07 16:01] #96 closed

[2018-09-09 11:53] limonte commented on #96
FWIW, TravisCI is fine, your configuration is not :)

Here's the screenshot of my daily builds in [CatLight](https://catlight.io/), all nice a green without manual restarts:

![image](https://user-images.githubusercontent.com/6059356/45264112-f7e94780-b43f-11e8-9b5f-bac552a2dc98.png)

[2018-09-09 22:00] taylorhakes commented on #96
@limonte What is the issue with the configuration? I am happy fix any issue you can find.

Your builds being green has no bearing on whether there is or isn't an issue with Travis. You can't declare Travis bug free because you haven't run into a bug. There are millions of bugs in apps you use all the time that you haven't experienced. Here is a wiki page that describes the logic issue https://en.w

[2018-09-28 14:42] steelraiden opened #99 "IE11/EDGE - function connect fails"
in
ResizeObserverController.prototype.connect_ = function ()

// Subscription to the "Transitionend" event is used as a workaround for
// delayed transitions. This way it's possible to capture at least the
// final state of an element.
**document.addEventListener('transitionend', this.onTransitionEnd_);**

document.ontransitionend is undefined in IE11/EDGE

[2018-12-02 05:13] taylorhakes commented on #99
I don't think this has to do with this library. Please reopen if you have more details

[2018-12-02 05:13] #99 closed

[2018-12-02 05:16] taylorhakes commented on #92
Thanks for mentioning. I updated the changelog with 8.1.0 changes.

[2018-12-02 05:16] #92 closed

[2019-02-06 08:34] jh4rri commented on #86
Hi

I have also received this error in the V8.1.0 release.  The only work around we have found is making this change directly your index.js file, which obviously we don't really want to have to do:

Changed the first line to this (added .js extension to "./finally"):
import promiseFinally from './finally.js';

After this change, I don't get the error and Promise is then supported in IE11.

![promi

[2019-02-06 11:57] RiZKiT commented on #86
Could this be related https://github.com/Microsoft/TypeScript/issues/16577?

[2019-02-09 19:52] taylorhakes commented on #86
@jh4rri It looks like you are not bundling files together for the browser. This library does not support running directly in the browser without bundling.

[2019-06-05 11:00] kingstone3 opened #100 "Promise.race"
Promise.race(native):
![image](https://user-images.githubusercontent.com/18232598/58951563-02185680-87c4-11e9-91e3-43642babfe11.png)

Promise.race(promise-polyfill):
<img width="653" alt="屏幕快照 2019-06-05 18 53 22" src="https://user-images.githubusercontent.com/18232598/58951458-caa9aa00-87c3-11e9-94d1-29dda4fd4262.png">

https://github.com/taylorhakes/promise-polyfill/blob/master/src/index.js#L219

[2019-06-07 11:23] kingstone3 opened #102 "Why use Promise._immediateFn here?"
https://github.com/taylorhakes/promise-polyfill/blob/acc989fe54a8ace00aa73cbd62b974a847bb0d9f/src/index.js#L45

I tried to delete Promise._immediateFn and the result is still correct. Why do I need to put the callback function in Promise._immediateFn?

[2019-06-13 13:00] taylorhakes commented on #102
@kingstone3 What do you mean the result is correct? Do you mean all the tests pass? That function is necessary because promises must be asynchronous according to the spec.

In the example below the assert will fail without the `_immediateFn` because `.then` will be called synchronously instead of asynchronously.

[code]

[2019-06-13 13:00] taylorhakes commented on #100
Thanks for identifying that issue. I will work on a fix in the next couple days.

[2019-06-14 03:57] kingstone3 commented on #102
You are right, I forgot that .then is always an asynchronous call

[2019-06-14 03:57] #102 closed

[2019-06-14 04:00] #100 closed

[2019-06-14 18:52] TheModMaker opened #103 "Promise.all([]) not allowed"
Promise.all/Promise.race can accept an empty array, but after 74d3029de2c3bada8d27de37d31c6718de69f253 they are not accepted in this polyfill.

[2019-06-14 20:52] taylorhakes commented on #103
Thanks for the bug report. I will fix it right away tonight. Sorry about that. I will make sure it’s added to the test suite. Can you point to 8.1.0 temporarily?

[2019-06-15 04:27] taylorhakes commented on #103
Fixed in `8.1.2`. Thanks again for the bug report https://github.com/taylorhakes/promise-polyfill/releases/tag/8.1.2

[2019-06-15 04:33] #103 closed

[2019-06-16 17:22] laukstein opened #104 "dist/polyfill.min.js missing v8.1.2 fix"
@taylorhakes, your commit https://github.com/taylorhakes/promise-polyfill/commit/03f6f9a0d19e721b4167fdafbe96f0418718a12a that later has been released as v8.1.2 in missing in dist/polyfill.min.js, it should be updated accordingly too.

[2019-06-16 21:51] taylorhakes commented on #104
Fixed. Thanks for the bug report

[2019-06-16 21:51] #104 closed

[2019-08-02 20:17] higherstar opened #105 "catch causing `expected identifier` in IE8, it seems promise is not returned for chaining"
after declare the polyfill

I defined a function like below.

var get = function(url) {
  return new Promise(function(resolve, reject) {
    try {
      var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');

      xhr.open('GET', url);
      xhr.onreadystatechange = function() {
        try {
          if (xhr.readyState > 3) {   // XMLHttpRequest.DONE ==

[2019-08-04 00:05] taylorhakes commented on #105
`catch` is a reserved word in IE8, so you can't use `.catch`. You need to change your code to this, or use babel to transform your code to support IE8

[code]

[2019-08-04 00:05] #105 closed

[2019-08-11 03:47] taylorhakes commented on #88
Closing due to inactivity

[2019-08-11 03:47] #88 closed

[2019-08-17 19:55] it-xtech-dev opened #106 "Exception not rejected?"
Hello,

I have included promise-polyfill iniside my typescript project. I use it like below:

[code]

Once compiled and executed inside browser only thing I get is this console warning:
_Possible Unhandled Promise Rejection: test exception_

**Is it intended behavior?**

When I exclude the import and add script directly inside html (<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist

[2019-09-24 09:49] Ldoppea opened #107 "Using promise in a 'for' loop behaves differently on IE11"
Hi,

First, thank you for this polyfill. I started to use it 1 year ago and it helps a lot.

I would like to show you a code that behaves differently on chrome/ff/opera and IE11.

This behavior occurs when I use a promise inside a `for` loop. When using IE, the `for` index is not sent correctly in the promise context.

For example, the following code should loop from 0 to 3 and print the correspon

[2019-09-24 13:18] taylorhakes commented on #106
@it-xtech-dev That is expected. You have thrown an exception in the `catch` but not provided a `catch` handler for it. If you run the same code in Node JS with native promises, it does the same thing. Chrome provides a handler, so that you can log them.
https://developer.mozilla.org/en-US/docs/Web/API/Window/unhandledrejection_event#Basic_error_logging

It doesn't do that with
[code]
because that

[2019-09-25 05:51] #106 closed

[2019-09-25 05:51] #107 closed

[2019-09-25 08:06] Ldoppea commented on #107
Woups I didn't notice that I was using `let` (i'm often switching between old js and modern js), but unfortunately the behavior is the same with `var`.

Thank's for your answer, I expected that IE11 was faulty and your answer confirms that 👍

[2019-10-30 22:21] tedfitzpatrick opened #108 "Unhandled Promise Rejection - Desktop Safari 13.0.2"
I'm using promise-polypill for IE 11 support for Webpack 4's dynamic module import feature. Specifically, import "promise-polyfill/src/polyfill"; as the 1st line of my entry index.js. It's working great in IE 11, Chrome, Firefox, Mobile Safari; but in Desktop Safari 13.0.2 my console is reporting Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 'e[t].call')

[2019-10-30 22:26] tedfitzpatrick commented on #108
I should mention that the import Promise from "promise-polyfill"; isn't working in IE 11

[2019-11-01 17:31] tedfitzpatrick commented on #108
I found the culprit, Edge doesn't like like it either. In Promise._immediateFn, in the short-circuit assignment,  typeof setImmediate === "function" is used but Safari and Edge can't find setImmediate

[2019-12-09 10:57] kapouer opened #109 "Use window.queueMicrotask where available"
https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/queueMicrotask

Unlike many others, this is standard api.
Contrary to setImmediate, it cannot be cancelled. Also it's the ideal queue for promises: Promise callbacks are indeed microtasks.

[2019-12-11 18:13] taylorhakes commented on #109
This makes sense, but this function is only available in newer browsers. Any browser that needs a Promise polyfill will not have this function, right?

[2019-12-11 18:18] taylorhakes commented on #108
Thanks for the bug report @tedfitzpatrick. Would you be able to submit a PR with the fix? I would be interested to learn how setImmediate is causing this issue.

[2019-12-11 18:22] kapouer commented on #109
Right, totally. However, i have a use case... I'm replacing the native Promise implementation by this polyfill, to make sure i can track all queued microtasks (because native Promise queue using an internal api) and take that into account to decide if/when the browser has finished loading and finished running xhr/fetch/scripts.
Example [here](https://github.com/kapouer/node-webkitgtk/blob/master/s

[2019-12-14 16:10] taylorhakes commented on #109
Ok, makes sense. Can you create a PR with the change?

[2020-03-11 10:21] MapTo0 opened #113 "Promise.prototype.finally is not aligned with the most current spec draft"
According to [draft 4 of the Promise.prototype.finally spec](https://tc39.es/proposal-promise-finally/) , the `callback` parameter might not be callable.

Spec: https://tc39.es/proposal-promise-finally/
Similar issues: https://github.com/stefanpenner/es6-promise/issues/336

[2020-03-18 15:33] Valve commented on #113
I would also like to see more info about finally polyfill implementation.
For example FF 2-57 (a very large group of FF versions still used a lot), implement Promises natively, but don't implement Promise.finally. Looks like this polyfill does a nice job of detecting that and polyfills finally separately on a native Promise, but it needs clarification in the README if possible please.

[2020-04-11 22:07] Krinkle opened #114 "Conditional check insufficient due to legacy HTML by ID conflict"
Consider a page like the following:

[code]

This is not unusual in a user-generated content situation, such as Wikipedia where markup like `## Promise` will produce that.

For legacy reasons, most older browsers (and some even today still, like Firefox) exposed global variables for elements by ID. For the above, `window.Promise` will evaluate to the same HTMLElement object as `document.getElement

[2020-04-17 23:58] #114 closed

[2020-04-18 00:00] taylorhakes commented on #108
Closing because of no response.

[2020-04-18 00:00] #108 closed

[2020-04-18 00:02] taylorhakes commented on #113
Thanks for bug report. Can you create a PR? I will happily merge it.

[2020-05-06 00:13] cdrini opened #116 "Missing Promise.allSettled"
`Promise.allSettled` has been accepted and is already in production Firefox/Chrome.

This page has details on implementation / other polyfills that have already implemented it: https://github.com/tc39/proposal-promise-allSettled

Here's the mdn page: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/allSettled

[2020-07-06 06:16] hsh2001 commented on #116
You can use https://www.npmjs.com/package/promise-all-settled-polyfill

[2020-08-19 11:17] DerGernTod opened #118 "Invalid calls to wrapped setTimeout on IE7 and IE8"
By accessing `setTimeout` instead of `window.setTimeout` on IE 7 and IE 8, a copy of the function is created. If later on the `window.setTimeout` function is wrapped by code on the website, this wrapper is not used anywhere because of the initial copy. This is a pretty stupid example of IE weirdness, details can be found here: http://www.adequatelygood.com/Replacing-setTimeout-Globally.html

Easie

[2020-08-19 11:40] kamtschatka commented on #118
I have created a reproducer for it(see attached files)
Basically what we are doing:
We have the promise-polyfill on the page and then we override window.setTimeout with our own wrapper. That worked fine until we added the promise-polyfill on all browsers we are testing, but is failing on IE7 and IE8 since we added the polyfill.

This is a very simplified reproducer, where i have included the origi

[2020-08-29 18:59] djleonskennedy commented on #118
@DerGernTod @kamtschatka **IE7** and **IE8** are you serious guys ? :)

[2020-08-29 19:59] kamtschatka commented on #118
We are. And this library claims to support IE8+, so it absolutely makes sense to not break anything else in the process of providing a promise polyfill.

[2020-09-01 20:20] taylorhakes commented on #118
@DerGernTod @kamtschatka Thanks for the bug report.

I have a comment explaining why this is necessary. https://github.com/taylorhakes/promise-polyfill/blob/master/src/index.js#L3 . This polyfill has been around for about 6 years and I haven't received this issue before (I personally used it on IE8 when I supported it). `setTimeout` is an implementation detail of this promise library, so I wouldn'

[2020-09-01 20:24] taylorhakes commented on #116
There was a previous PR that was abandoned. If someone has time, please add tests and submit a new PR. I will happily merge a PR to add this API. https://github.com/taylorhakes/promise-polyfill/pull/112

[2020-09-01 21:00] kamtschatka commented on #118
We just provided a reproducer issue, we do not really want to log when promises resolve.
We have a piece of code that overrides the setTimeout function, but this is broken, when we are using the promise polyfill on the same page(and it initializes before we override the setTimeout function)
We have created a workaround in our code for now, but we would rather have the proper fix in the promise-pol

[2020-09-03 20:02] taylorhakes commented on #118
@kamtschatka I provided the correct fix above. Overriding setTimeout globally and assuming it should affect `promise-polyfill` is not a supported use case of this library. If you want to adjust the immediate function, please use the code below.
[code]

[2020-09-03 20:11] kamtschatka commented on #118
No it is not the correct fix. We do not want to override setTimeout and have it affect the promise polyfill. We want to override the setTimeout function globally after the promise polyfill has initialized and have it affect the rest of the page, but due to a bug/quirk in IE this is not possible, because the way the promise polyfill access setTimeout creates a duplicate of setTimeout that makes tha

[2020-09-03 22:12] taylorhakes commented on #118
@kamtschatka I understand your issue and tried your example. I don't see it as IE having a bug here. You are relying on an implementation detail of this polyfill library. Promises don't use setTimeout by default so changing setTimeout or window.setTimeout in any way should have no affect on promises. This library happens to use setTimeout, but that is an implementation detail (https://stackoverflo

[2020-09-04 05:31] kamtschatka commented on #118
No you do not understand. It is definitely IE having a bug here.
I don't care if the promise-polyfill uses setTimeout or not. In fact the whole implementation of the promise polyfill does not matter in the slightest. The library could be anything(as you can see the sample doesn't even use promises or anything related to the promise-polyfill, we just included it in the page and that causes sideeffe

[2020-10-03 17:28] gvwilson opened #120 "Document meanings of _state values"
Apologies if I've missed it, but there doesn't appear to be documentation for the various values of `_state` - I think that and a state transition diagram would help newcomers like me understand the code much more reasily. Thanks - Greg

[2020-10-12 17:46] Jamie5 commented on #116
Added #121 which includes tests. Not sure how rigorous we want the tests to be but can adjust as needed.

[2020-11-03 04:26] taylorhakes commented on #116
Released in 8.2.0. Thanks @Jamie5

[2020-11-03 04:26] #116 closed

[2020-11-03 04:28] taylorhakes commented on #109
Closing due to inactivity

[2020-11-03 04:28] #109 closed

[2020-11-03 04:29] taylorhakes commented on #120
Hi @gvwilson. Thanks for the issue report. Unfortunately I don't have time currently create a state transition diagram. If you or someone else has time to create one, I would happily add it to the repo.

[2020-11-05 07:16] jinmawang opened #123 "' import 'promise-polyfill/src/polyfill' 'has syntaxerror when i excute 'npm run test'"
`/Users/zhangjinma/Work/discovery/node_modules/promise-polyfill/src/polyfill.js:1
    ({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){import Promise from './index';
                                                                                             ^^^^^^

    SyntaxError: Cannot use import statement outside a module

      1 | import axios from 'a

[2020-11-05 07:18] jinmawang commented on #123
this is a react app created by CRA,Jest and Jest-Babel is enabled by default

[2021-03-08 10:22] YellowAfterlife commented on #120
As far as I can tell,`_state` values are:

* 0: pending
* 1: resolved
* 2: rejected
* 3: resolved to a promise

state 3 is distinct because this allows to follow the chain of promises when finalizing.

[2021-08-06 14:46] achimmihca opened #129 "unhandledrejection event not fired"
If not providing a catch method for a Promise, then a default error handler will be used.
Typically, this default error handler prints a message to the console.

However, one can add an EventListener to be notified of such missing error handling (see [here](https://developer.mozilla.org/en-US/docs/Web/API/Window/unhandledrejection_event#basic_error_logging)):
[code]

Unfortunately, the Promise pol

[2021-08-09 06:31] achimmihca commented on #129
The dispatchEvent should go to `Promise._unhandledRejectionFn`.
As workaround one could overwrite `Promise._unhandledRejectionFn` to fire the event.

[2022-03-11 20:22] tysonstewart opened #132 "v8.2.1: setImmediate in IE11 can lose its context and throw "Invalid calling object""
After upgrading from v8.2.0 to v8.2.1, I started seeing an error in IE11 when trying to invoke `setImmediate`: "Invalid calling object". Some searching turned up [this issue](https://github.com/reflux/refluxjs/issues/374) which suggested binding the function to the window object. This does in fact work. So one potential solution is to change [this line](https://github.com/taylorhakes/promise-polyf

[2022-03-12 22:50] taylorhakes commented on #132
This is fixed in 8.2.3.

[2022-03-12 22:50] #132 closed

[2022-03-12 22:52] taylorhakes commented on #120
The above is correct. If anyone wants to add documentation to the codebase I welcome a PR. I am going to close this for now

[2022-03-12 22:52] #120 closed

[2022-03-12 22:52] taylorhakes commented on #113
Closing because of inactivity. Please feel free to create a PR with a fix

[2022-03-12 22:52] #113 closed

[2022-03-12 22:55] taylorhakes commented on #118
Closing in favor using `Promise._immediateFn = (fn) => window.setTimeout(fn, 0);` You have full control over the immediate function. If you want to change the immediate function or how setTimeout is used, you can modify it there. You don't need to modify this polyfill

[2022-03-12 22:55] #118 closed

[2022-03-12 22:56] taylorhakes commented on #129
Closing issue because PR has become stale.

[2022-03-12 22:56] #129 closed

[2022-03-13 12:36] kamtschatka commented on #118
OK, I have tried to explain it multiple times now, but you seem to either not get it or choose to understand it. We have made our peace with it, but in case anyone else ever runs into this problem, have a look at the attached PR #119 to find the real fix.

[2022-03-13 18:11] taylorhakes commented on #118
@kamtschatka The code you provided, even if the correct fix is a very naive way to get the global object that doesn't work in all environments. See this post https://mathiasbynens.be/notes/globalthis . I don't want to update this library to add the correct globalThis code to support this use case. I am very sorry about that. There are workarounds described in the post you linked.  http://www.adequ

[2022-05-29 23:15] dixow opened #141 "zte"

[2022-06-04 15:05] ghost opened #142 "Could you support Promise.any() ?"
Hello,

It would be great if the support for [Promise.any()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/any) could be added.

Thanks!

[2022-11-23 14:48] dyhalmeida opened #145 "Has Promise-Polyfill replaced the use of Bluebird?"
Hello friends, I have this silly question, this lib replaces the use of Bluebird for polyfiill from Promise to IE?